services:
  - type: web
    name: skillhirelms-web
    env: node
    plan: free
    region: oregon
    buildCommand: |
      cd client && npm install && npm run build
      cd .. && npm install
    startCommand: npm run start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: NODE_ENV
        value: production
    autoDeploy: true
    branch: main
